h4{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 1s;
}
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.1s;
  }
  :root {
    --animate-delay: 0.5s;
  }
  #Name
  {
    color:blue;
    border: none;
  }
  /* .row
  {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  } */